#content {
    min-height: 90vh;
}

.coming-soon {
    text-align: center;
}

.sidebar .sidebar-brand {
    height: 6rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}
.logo-sidebar {
    height: 50px;
}

.sidebar {
    background-color: #F48A3E;
}